*{
	margin: 0px;
	padding: 0px;
}

html{
	scroll-behavior: smooth;
}

ul,ol{
	list-style-type: none;
}

a,a:hover, a:focus{
	text-decoration: none;
}


.contact-form{
  background: url(../img/contact.jpg);
  padding: 100px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: white;
  height: 510px;
}

.contact-form #section3 .row .col-lg-6 input{
  background: none;
}
.contact-form #section3 .row .col-lg-6 input[type=checkbox]{
  background: white;
}
.contact-form #section3 .row .col-lg-6 textarea{
  background: none;
}



select {
    font-size: .9rem;
    padding: 2px 5px;
}
#profile{
  width: 150px;
  height: 150px;
}


